## 감성 사전 의한 감성분석

### 감성 사전 출처
- https://raw.githubusercontent.com/park1200656/KnuSentiLex/master/pos_pol_word.txt
- https://raw.githubusercontent.com/park1200656/KnuSentiLex/master/neg_pol_word.txt
- with score

In [1]:
import pandas as pd

In [14]:
df_positives = pd.read_csv('../../datasets/pos_pol_word.txt', delimiter='\t')
df_positives = df_positives[15:]
df_positives

         출처
15      (-;
16     (^^)
17    (^-^)
18     (^^*
19    (^_^)
...     ...
4878    안정감
4879  적극적이다
4880     승리
4881   승리하다
4882   유명하다

[4868 rows x 1 columns]

In [13]:
df_negitives = pd.read_csv('../../datasets/neg_pol_word.txt', delimiter='\t')
df_negitives = df_negitives[15:]
df_negitives

          출처
15        가난
16      가난뱅이
17      가난살이
18    가난살이하다
19      가난설음
...      ...
9837     비리를
9838      의혹
9839   내팽개치다
9840      횡령
9841     불안증

[9827 rows x 1 columns]